{% extends 'base.html.twig' %}

{% block title "Enregistrement d'une famille" %}

{% block body %}
  <div class="container mt-4" >
    <center><h1>Enregistrement d'une famille</h1></center>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    
                    <input list="Nom" id="nom" name="nom" />

                    <datalist id="Nom">
                        {% for property in property %}
                            <option value=" {{ property.qualite }}&nbsp;{{ property.nom }}&nbsp;{{ property.prenom }}&nbsp;&nbsp;{{ property.datenaissance | date('d/m/yy')}} ">
                        {% endfor %}
                    </datalist><br><br>

                    <br>
                    <button type="button" class="btn btn-success"><a href=""><font color="white">Nouvelle Famille</font></button>
                </th>
                <th scope="col">
                    <label> Une famille est repérée par le nom d'un de ses membres.</label>
                    <label> Chaque membre est repéé par son nom, son prénom et sa date de naissance à cause des homonymies.</label>
                    <label> Sélectionner une famille ou cliquer sur Nouvelle Famille.</label>
                </th>
            </tr>
        </thead>
    </table>
    <br>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Mise à jour de la composition de la famille </th>
            <th scope="col">Suite de l'enregistrement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <label>Pour inscrire un nouveau membre, il faut :</label><br>
                    <label>Cliquer sur le bouton "nouveau membre"</label><br>
                    <label>Choisir le nouveau membre et son lien familial</label><br>
                    <label>Cliquer sur le bouton "valider"</label><br>
                    <label>S'il est déjà inscrit dans cette famille, un message d'erreur apparaîtra.</label><br>
                    <label>Le cadre ci-contre liste les membres déjà inscrit dans cette famille.</label><br><br>
                    <button type="button" class="btn btn-success" href="#">Nouveau membre</button>
                    <button type="button" class="btn btn-success"><a href="{{ path('page.enregistrementA') }}"><font color="white">Saisir nouveau membre</font></a></button><br><br>
                    

                    <label>Nom/Prenom de l'accueilli</label><br>

                    <input list="Accueilli" id="accueilli" name="accueilli" />

                    <datalist id="Accueilli">
                        <OPTION value="Mathieu">
                        <OPTION value="Mathis">
                        <OPTION value="Jean">
                        <OPTION value="Paul">
                    </datalist><br><br>


                    <label>Genre</label><br>
                    <input list="Genre" id="genre" name="genre" />

                    <datalist id="Genre">
                        <OPTION value="Fille">
                        <OPTION value="Fils">
                        <OPTION value="Grand-mère">
                        <OPTION value="Grand-père">
                        <OPTION value="Membre">
                        <OPTION value="Mère">
                        <OPTION value="Père">
                    </datalist><br><br>

                    <label>Si le nom du nouveau membre est introuvable</label><br>
                    <label>Cliquer sur Annuler</label><br>
                    <label>Cliquer sur Saisir nouvel Accueilli</label><br><br>
                    <button type="button" class="btn btn-warning">Annuler</button>
                    <button type="button" class="btn btn-success">Valider</button>

                </th>



                <td>
                    <label for="tentacles">Adultes:</label>
                    <input type="number" id="tentacles" name="tentacles" min="0"><br>

                    <label for="tentacles">Enfants:</label>
                    <input type="number" id="tentacles" name="tentacles"min="0"><br>

                    <input type="button" onclick='window.location.reload(false)' value="Actualiser" class="btn btn-success"/><br>
                    <style>
                        div.ex2 {
                        background-color: lightgrey;
                        width: 650px;
                        height: 500px;
                        overflow: scroll;
                        }
                    </style>
                    <br>
                    <div class="ex2">
                        <div class="container">
                            <div class="row changingBG">
                                <div class="col-lg-2">Qualite</div>
                                <div class="col-lg-2">Nom </div>
                                <div class="col-lg-2">Prénom</div>
                                <div class="col-lg-4">Date de Naissance</div>
                                <div class="col-lg-2">Lien</div>
                            </div>
                        </div><br>
                        <!-- Ici nous devrons notez les familles -->
                        {% for property in property %}
                                <div class="row changingBG">
                                    <div class="col-lg-2">{{ property.Qualite}}</div>
                                    <div class="col-lg-2">{{ property.Nom}} </div>
                                    <div class="col-lg-2">{{ property.Prenom}}</div>
                                    <div class="col-lg-4">{{ property.datenaissance | date('d-m-y')}}</div>
                                </div>
                        {% endfor %}
                        
                    </div>


                    
                </td>
            </tr>
        </tbody>
    </table>


  </div>
      
{% endblock %}